<div class="" style="padding: 5rem 9%; margin-top: 80px; min-height: 100vh">
  <mat-card class="composite-data">
    <mat-progress-bar *ngIf="this.ApiResponseStatus.processing;" mode="indeterminate"
                      style="position: absolute; top: 0; left: 0; right: 0;"></mat-progress-bar>
    <div *ngIf="this.ApiResponseStatus.processing;"
         style="position: absolute; top: 3%; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); z-index: 2;"></div>
  </mat-card>

  <div>
    <p style="font-size: 32px; line-height: 30px; font-weight: 700; color: #35459C; padding: 2rem 0">Resources
      Files</p>
    <span class="flex-1-auto"></span>
    <span class="flex-1-auto"></span>

    <a *ngIf="this.userRole === 'level2' || this.userRole === 'admin';  else spaceBetween"
       [routerLink]="['/resources/modify']" mat-flat-button class="view-button"
       style="background: #222A69;">
              <span style="color: #FFF">
              Upload New Resource
              </span>
    </a>

    <ng-template #spaceBetween>
      <div style="height: 10px;"></div>
    </ng-template>

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Search</mat-label>
      <input type="string" matInput [(ngModel)]="searchQuery"/>
    </mat-form-field>
  </div>

  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let data of filteredUploadList">
        <img class="cardimage" src="/assets/images/resources/anthraxcontrol.png" alt=""/>
        <div class="content">
          <p [matTooltip]="data.original_filename?.toUpperCase()">
            {{ concatenate(data.original_filename?.toUpperCase(), 30) }}
          </p>
<!--          <a *ngIf="this.awareness.UserInstance.role === null || this.awareness.UserInstance.role === 'level1'" [href]="data.url" target="_blank">-->
<!--            <button>Download</button>-->
<!--          </a>-->

          <button
            (click)="openUrl(data.url)">
            Download
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
