.container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 25px;
  background-color: #F0F2F5;
}

.cards {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  //overflow: hidden;
}

.cardimage {
  height: 24.8rem;
  width: 35.3rem;
  border-radius: 0 0 16px 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content p{
  margin-bottom: 1rem;
}

.content button {
  background-color: var(--button-color);
  color: #FFFFFF;
  border-radius: 16px;
  height: 34px;
  width: 117px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
