<footer>
  <div class="footer-top">
    <div class="footer-section footer-logo-container">
      <img class="footer-logo" src="assets/images/logos/moh-logo-emblem-only.png" alt="">
      <div>
        <h1 style="color: #FFFFFF; margin-top: 6px">MINISTRY OF HEALTH</h1>
        <a href="https://www.health.go.ke/" target="_blank">www.health.go.ke</a>
      </div>
    </div>

    <div class="footer-section terms-container">
      <p><span class="quick">Quick</span>&nbsp;<span>Links</span></p>
      <a>FAQs</a>
      <a>Terms and Conditions</a>
    </div>
    <div class="footer-section terms-container">
      <a [routerLink]="['/support/']"><span class="quick">Help</span>&nbsp;<span> & Support</span></a>
      <a>020-00000</a>
      <a>support@shield.health.go.ke</a>
      <a>MINISTRY OF HEALTH, Afya House, <br/>Cathedral Road</a>
    </div>
    <!--    <div class="shield-logo-container">-->
    <!--      <img class="shield-logo" src="assets/images/logos/logo-shield-footer.png">-->
    <!--      <p class="logo-text">Surveillance Health Information Exchange and Linkage Data-->
    <!--      <p>-->
    <!--    </div>-->
  </div>

  <div class="copyright">
    <p>
      @ 2024 Division of Disease Surveillance and Response . All rights reserved
    </p>
  </div>
</footer>
