<footer>
  <div class="footer-top">
    <div class="footer-logo-container">
      <img class="footer-logo" src="assets/images/logos/logo-moh.png">
      <a href="http://www.health.go.ke/" target="_blank">https://www.health.go.ke</a>
    </div>

    <div class="terms-container">
      <a href="tel:020-000000">Help <i class='bx bx-phone-call'> 020-000000</i></a>
      <a>Terms and Conditions</a>
    </div>
    <div class="shield-logo-container">
      <img class="shield-logo" src="assets/images/logos/logo-shield-footer.png">
      <p class="logo-text">Surveillance Health Information Exchange and Linkage Data<p>
    </div>
  </div>

  <div class="copyright">
    <p>
      @ 2024 Division of Disease Surveillance and Response . All rights reserved
    </p>
  </div>
</footer>
