<section class="frame-section">

  <mat-tab-group animationDuration="1ms">
    <mat-tab label="IFBS Dashboard">

      <div class="frame-section-content">
          <a (click)="openIfbsframe()">
          </a>
        <iframe  title="SARI_ILI Dashboard12082022" [src]="IfbsIframe" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </mat-tab>
    
    <mat-tab label="SARI/ILI Dashboards">
        <div class="frame-section-content">
            <a (click)="openSariIframe()">

            </a>
          <iframe id="myIframe" title="SARI_ILI Dashboard12082022" [src]="SariIframe" frameborder="0" allowFullScreen="true"></iframe>
        </div>


    </mat-tab>
    
    <mat-tab label="COVID-19 Mortality Dashboard">

        <div class="frame-section-content">
            <a (click)="openMortalityIframe()">
            </a>
          <iframe title="SARI_ILI Dashboard12082022" [src]="MortalityIframe" frameborder="0" allowFullScreen="true"></iframe>
        </div>

    </mat-tab>
  </mat-tab-group>

</section>

