<section class="frame-section">

  <div class="frame-section-content">
    <h3>SARI/ILI Dashboards
      <a (click)="openSariIframe()">
        <i  class='bx bx-link-external'></i>
      </a>
    </h3>
    <iframe id="myIframe" title="SARI_ILI Dashboard12082022" [src]="SariIframe" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  <div class="frame-section-content">
    <h3>IFBS Dashboard
      <a (click)="openIfbsframe()">
        <i class='bx bx-link-external'></i>
      </a>
    </h3>
    <iframe  title="SARI_ILI Dashboard12082022" [src]="IfbsIframe" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  <div class="frame-section-content">
    <h3>Mortality Dashboard
      <a (click)="openMortalityIframe()">
        <i class='bx bx-link-external'></i>
      </a>
    </h3>
    <iframe title="SARI_ILI Dashboard12082022" [src]="MortalityIframe" frameborder="0" allowFullScreen="true"></iframe>
  </div>


</section>

