.dashboard-top {
    height: 16vh;
    display: flex;
    flex-direction: column;
    padding-left: 9%;
    padding-right: 9%;
    background: linear-gradient(180deg, rgba(21, 165, 202, 0.00) 0%, #15A5CA 100%);
}