<div class="login-page">

  <div class="left-half">

    <div class="login-top-bar">
      <img src="assets/images/logos/logo-moh.png" style="width: 30rem;">
      <p [routerLink]="['/home']" class='bx bx-arrow-back'>  Go Back</p>
    </div>

    <mat-card class="login-card cardWithShadow" style="width: 100%">
      <mat-progress-bar *ngIf="this.ApiResponseStatus.processing;" mode="indeterminate" style="position: absolute; top: 0; left: 0; right: 0;"></mat-progress-bar>
      <div *ngIf="this.ApiResponseStatus.processing;" style="position: absolute; top: 3%; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); z-index: 2;"></div>

      <mat-card-header>
        <mat-card-title class="card-topic text-center f-w-600 with-red-line">Reset your password</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="text-center bubble-success" *ngIf="this.ApiResponseStatus.error" style="margin: 2rem">
          {{ this.ApiResponseStatus.message }}
        </div>


        <form  id="form_reset_password" (ngSubmit)="submitConfirmResetPassword()" class="m-t-30">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [formControl]="UserFormControls['user_password']"
                   [type]="hide ? 'password' : 'text'" />
            <img matSuffix (click)="hide = !hide"
                 src="{{hide ? 'assets/images/icons/icon-eye-invisible--black.png' : 'assets/images/icons/icon-eye-visible--black.png'}}"
                 alt="" class="view-icon--image" />

            <mat-error *ngIf="UserFormControls['user_password'].hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [formControl]="UserFormControls['confirm_password']" [type]="hide ? 'password' : 'text'" />
            <mat-error *ngIf="UserFormControls['confirm_password'].hasError('required')">
              <strong>Required</strong>
            </mat-error>

            <mat-error *ngIf="UserFormControls['confirm_password'].hasError('passwordMismatch')">
              <strong>Passwords do not match</strong>
            </mat-error>
          </mat-form-field>

          <div class="auth-bottom">
            <a *ngIf="!this.ApiResponseStatus.processing;" (click)="submitConfirmResetPassword()" style="text-decoration: none;" class="auth-button m-t-16 m-b-16">
              Submit
            </a>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="right-half">
    <div class="image-container">
      <img src="assets/images/logos/logo-dalle.png" alt="Image" width="591">
    </div>
  </div>
</div>
