
* {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

.login-page {
  display: flex;
  height: 100vh;
}

.left-half{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  //justify-content: center;
  background: #FFFFFF;
  padding: 5rem 4%;
}

.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(21, 165, 202, 0.00) 0%, #15A5CA 100%)
}


.image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


.login-top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-top-bar p {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}


.login-card{
  border-radius: 8px;
  margin-top: 4rem;
  padding: 3rem 6%;
}

.auth-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  background: var(--accent-orange);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-bg-color);
  letter-spacing: .1rem;
  cursor: pointer;
}

.auth-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}


.with-red-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-orange);
  margin-top: 7px; /* Adjust as needed */
}


.card-topic{
  font-size: x-large;
}

.bubble {
  background-color: #f8d7da; /* Red background color */
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 10px; /* Border radius to make it rounded */
  padding: 10px; /* Padding to give some space around the content */
}

@media (max-width: 1110px) {
  .right-half{
    display: none;
  }
}
