
* {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

.login-page {
  display: flex;
  height: 100vh;
}

.left-half {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 7%;
  width: 70%;
  flex: 1;
  height: 650px;
  overflow-y: hidden;
}

.left-content {
  display: flex;
  align-items: center;
  //justify-content: center;
  padding: 0 9%;
  width: 30%;
  height: 100%;
  flex: 1;
}

.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(21, 165, 202, 0.00) 0%, #15A5CA 100%)
}


.image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


.login-top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-top-bar p {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}


.login-card {
  border-radius: 16px 0 0 16px;
  padding: 3rem 6%;
  background-color: white;
}

.auth-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 148px;
  background: var(--accent-green);
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-bg-color);
  letter-spacing: .1rem;
  cursor: pointer;
}

.auth-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 148px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  border: 2px solid var(--accent-green);
}

.with-red-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  //background-color: var(--accent-green);
  margin-top: 7px; /* Adjust as needed */
}


.card-topic {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.second-card {
  width: 100%;
  height: 100%;
  background-color: #F0F2F5;
  border-radius: 0 16px 16px 0;
  margin-left: 0;
  padding: 20px;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.support-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}


@media (max-width: 1110px) {
  .right-half {
    display: none;
  }
  .left-content {
    display: none;
  }
}
