<div style="padding: 5rem 9%; margin-top: 128px; min-height: 100vh">

  <div style="margin: 10px">
    <h2>About S.H.I.E.L.D</h2>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Main Dashboards Links</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p style="margin: 10px 0"><a href="https://shieldtest-analytics.icapkenya.org/superset/dashboard/shield/" target="_blank">Routine Surveillance <i class='bx bx-link-external'></i></a></p>
      <p style="margin: 10px 0"><a href="https://shieldtest-analytics.icapkenya.org/superset/dashboard/ebs/" target="_blank">Event Based Surveillance <i class='bx bx-link-external'></i></a></p>
      <p style="margin: 10px 0"><a href="https://adam-analytics.health.go.ke/dashboard/list/" target="_blank">Outbreak Response <i class='bx bx-link-external'></i></a></p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
