<div class="about-top m-t-24" >

  <p style="font-weight: 600; line-height: 32px; font-size: 2.3rem;" class="m-b-16 m-t-16">Help & Support</p>

  <div class="help-headers">

    <div class="help-icon-box ">
      <div class="gradient-box">
        <i class='bx bxs-phone'></i>
      </div>
      <p class="help-text">Call us: </p>
      <p><a style="color: inherit" href="tel:020-000000">020-000000</a></p>
    </div>

    <div class="help-icon-box ">
      <div class="gradient-box">
        <i class='bx bx-envelope bx-flip-horizontal' ></i>
      </div>
      <p class="help-text">Email us at:</p>
      <p> <a style="color: inherit" href="mailto:support@shield.health.go.ke">support@shield.health.go.ke</a></p>
    </div>

    <div class="help-icon-box ">
      <div class="gradient-box">
        <i class='bx bx-map'></i>
      </div>
      <p class="help-text">Locate us at: </p>
      <p>MINISTRY OF HEALTH, Afya House, Cathedral Road</p>
    </div>
  </div>
</div>

<div style="padding: 1rem 9%; margin-top: 30px; min-height: 70vh">

  <div>
    <h2 class="m-b-24">FAQs for SHIELD</h2>
    <mat-accordion>
      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>What is SHIELD?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">Surveillance Health Information Exchange Linkage Data (SHIELD) is a centralised data
          repository developed by the Kenya Ministry of Health for surveillance data storage and visualization.</p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>How do I log into SHIELD?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">If you are an approved user, you can log at <strong><a class="link-text" [routerLink]="['/home']">https://shield.health.go.ke</a></strong></p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>Am I allowed to use data for general dissemination?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">The data should be used in accordance with the rules and regulation of the Ministry of Health.</p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>Who can I contact if I have trouble logging in?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">You can get help by contacting the MOH helpline 020-000000</p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>Who can I contact if I have trouble uploading data?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">You can get help by contacting the MOH helpline 020-000000</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <h2 class="m-b-24">FAQs for ADAM</h2>
    <mat-accordion>
      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>What is ADAM?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">It’s an end-to-end digital solution for disease surveillance and outbreak response and management.</p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>How does one log into the system?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">A help desk link will be provided for users to register and report any issues they encounter while navigating through the system.</p>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-24">
        <mat-expansion-panel-header>
          <mat-panel-title class="m-8">
            <h3>Who is the custodian?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="margin: 10px 10px">The custodian of the system is the Ministry of Health, responsible for its management and administration.</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>


</div>
