<section class="home" id="home">
  <div class="home-content">
    <p style="font-weight: 300; line-height: 44px; font-size: 36px; color: #FFFFFF">WELCOME TO</p>
    <p style="font-weight: 900; line-height: 64px; font-size: 96px; color: #FFFFFF">SHIELD</p>
    <h3>Surveillance Health Information Exchange and Linkage Data</h3>
    <h4>One Stop Shop For Everything Disease Surveillance .</h4>

    <div class="btn-box">
      <a class="btn" *ngIf="this.awareness.getUserData() ==null" [routerLink]="['/authentication/login']">
        Sign In
      </a>

      <a class="btn" (click)="scrollToViewMore()" style="cursor: pointer">
        View More
        <img class="down-arrow" src="assets/images/icons/point-down.svg" alt="">
      </a>
    </div>

  </div>
  <div class="home-image-content">
    <img style="width: auto; " class="home-image" src="assets/images/new_logo/shield_new_logo.png" alt="shield logo">
  </div>
</section>

<div class="card-container" id="cards">
  <button class="scroll-button left" (click)="scrollLeft()">&#10094;</button>
  <div class="cards-data" #cardContainer>
    <div class="card">
      <img class="card-image" src="assets/images/resources/dashboards-one.png" alt="Avatar">
      <h1 style="margin-top: 15px;">Surveillance Dashboards</h1>
      <h3>View dashboards with surveillance data for diseases of public health concern.</h3>
      <div class="card-button-box">
        <a [routerLink]="['/dashboard']">View Dashboards</a>
      </div>
    </div>
    <div class="card">
      <img class="card-image" src="assets/images/resources/upload-data2.png" alt="Avatar">
      <h1 style="margin-top: 15px;">Upload Data</h1>
      <h3>Upload data into SHIELD.</h3>
      <div class="card-button-box">
        <a [routerLink]="['/surveillance/composites']">Upload Data</a>
      </div>
    </div>

    <div class="card">
      <img class="card-image" src="assets/images/resources/surveillance3.png" alt="Avatar">
      <h1 style="margin-top: 15px;">Surveillance Resources</h1>
      <h3>Find Surveillance resources here...</h3>
      <div class="card-button-box">
        <a [routerLink]="['/resources/composites']">View Resources</a>
      </div>
    </div>
    <div class="card">
      <img class="card-image" src="assets/images/new_logo/card_ebrige.png" alt="Avatar">
      <h1 style="margin-top: 15px;">E-Bridge</h1>
      <h3>Find predictive data analytic models for disease outbreaks here</h3>
      <div class="card-button-box">
        <a [routerLink]="['/resources/composites']">View Dashboards</a>
      </div>
    </div>
  </div>
  <button class="scroll-button right" (click)="scrollRight()">&#10095;</button>
  <div class="card-indicators">
    <div class="first-indicator"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
  </div>
</div>
