<div>
  <section  style="padding-left: 72px; padding-right: 72px;" class="this-main-container this">

    <div style="width: 50%;">
      <div>
        <h1
          style="color: #333; /* Heading 1 */ font-family: Lato,sans-serif; font-size: 64px; font-style: normal; font-weight: 700; line-height: 76px; /* 118.75% */">
          Surveillance Health Information Exchange and Linkage Module
        </h1>
      </div>
      <p
        style="color: var(--Primary-Cetacean-Blue, #03062C); /* Heading 3 */ font-family: Lato,sans-serif; font-size: 26px; font-style: normal; font-weight: 400; line-height: 32px; /* 123.077% */">
        Your one stop shop for everything Disease Surveillance .</p>
      <div style="display: flex; align-items: center; gap: 50px;">
        <!--      <a style="text-decoration: none; cursor: pointer;"-->
        <!--         routerLink="['/authentication/login']">-->
        <!--        <button-->
        <!--          style="display: flex; width: 122px; height: 39px; padding: 0px 25px;  justify-content: center; align-items: center; gap: 10px; flex-shrink: 0; border-radius: 8px; background: var(&#45;&#45;Accent-Orange, #FFA500); border: 0; color: white; font-weight: 700; font-size: large;">Sign-->
        <!--          In</button>-->
        <!--      </a>-->

        <p style="color: var(--Primary-Cetacean-Blue, #03062C); font-family: Lato,sans-serif; font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; text-align: start;">
          <a style="font-size: 18px; font-style: normal; font-weight: 700; line-height: 32px; text-decoration: none; font-size: large; color: #03062C; text-align: center; display: flex; align-items: center;"
             href="#" (click)="scroll(viewMoreContent)">
            View More
            <span style="width: 16px; height: 16px; margin-left: 5px; flex-shrink: 0; background-color: whitesmoke; padding: 2px; border-radius: 16px; display: flex; align-items: center; justify-content: center; position: relative;">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path d="M0.428574 5.57141L1.83857 4.16141L8.42857 10.7514L15.0186 4.16141L16.4286 5.57141L8.42857 13.5714L0.428574 5.57141Z" fill="#03062C"/>
      </svg>
    </span>
          </a>
        </p>
      </div>
    </div>

    <div>
      <img  alt="Your Image"  class="right-aligned-image" src="assets/images/logos/logo-dalle.png">
    </div>

  </section>

  <section id="viewMoreContent" #viewMoreContent style="width: 100%; min-height: 30vh; justify-content: space-evenly">
    <div  style="width: 1440px; height: 630px; position: relative">
      <div style="width: 366px; height: 522px; left: 135px; top: 54px; position: absolute">
        <div style="width: 366px; height: 522px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <img style="width: 313.04px; height: 248.59px; left: 25.50px; top: 29.33px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid" src="assets/images/resources/dashboards.png" />
        <div style="width: 314px; height: 63px; left: 34px; top: 352px; position: absolute; opacity: 0.70; color: #03062C; font-size: 18px; font-family: Lato, sans-serif; font-weight: 400; line-height: 22px; word-wrap: break-word">View dashboards with surveillance data for diseases of public concern.</div>
        <div style="width: 250.26px; height: 45.50px; left: 33.72px; top: 295.75px; position: absolute; color: black; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">Surveillance Dashboards</div>
        <div style="width: 320px; height: 54px; padding-left: 25px; padding-right: 25px; left: 25px; top: 431px; position: absolute; background: #FFA500; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="color: white; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">View Dashboards</div>
        </div>
      </div>
      <a [routerLink]="['/resources/composites']">
      <div style="width: 366px; height: 522px; left: 540px; top: 54px; position: absolute">
        <div style="width: 366px; height: 522px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <img style="width: 313.04px; height: 248.59px; left: 25.50px; top: 29.33px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid" src="assets/images/resources/education.png" />
        <div style="width: 314px; height: 63px; left: 34px; top: 352px; position: absolute; opacity: 0.70; color: #03062C; font-size: 18px; font-family: Lato, sans-serif; font-weight: 400; line-height: 22px; word-wrap: break-word">Find Surveillance resources here...</div>
        <div style="width: 250.26px; height: 45.50px; left: 33.72px; top: 295.75px; position: absolute; color: black; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">Resource</div>
        <div style="width: 320px; height: 54px; padding-left: 25px; padding-right: 25px; left: 25px; top: 431px; position: absolute; background: #FFA500; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="color: white; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">View Resources</div>
        </div>
      </div>
      </a>

      <a [routerLink]="['/surveillance/composites']">
      <div style="width: 366px; height: 522px; left: 944px; top: 54px; position: absolute">
        <div style="width: 366px; height: 522px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <img style="width: 313.04px; height: 248.59px; left: 25.86px; top: 29.33px; position: absolute; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid" src="assets/images/resources/upload.png" />
        <div  style="width: 229.47px; height: 44.69px; left: 34.36px; top: 296.08px; position: absolute; color: black; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">
          Upload your data
        </div>
        <div style="width: 314px; height: 63px; left: 35px; top: 352px; position: absolute; opacity: 0.70; color: #03062C; font-size: 18px; font-family: Lato, sans-serif; font-weight: 400; line-height: 22px; word-wrap: break-word">Upload your data into SHIELD<br/></div>
        <div style="width: 320px; height: 54px; padding-left: 25px; padding-right: 25px; left: 26px; top: 431px; position: absolute; background: #FFA500; border-radius: 8px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="color: white; font-size: 18px; font-family: Lato, sans-serif; font-weight: 700; line-height: 32px; word-wrap: break-word">Upload your data</div>
        </div>
      </div>
      </a>

    </div>
  </section>


</div>
