<section class="home" id="home">
  <div class="home-content">
    <h1>SHIELD</h1>
    <h3>Surveillance Health Information Exchange and Linkage Data module</h3>
    <h3>One stop shop for everything Disease Surveillance .</h3>

    <div class="btn-box">
      <a class="btn" *ngIf="!this.awareness.getFocused('authenticated')" [routerLink]="['/authentication/login']" class="btn">Sign In</a>

      <a class="btn" (click)="scrollToViewMore()">
        View More
        <img class="down-arrow" src="assets/images/icons/point-down.svg" alt="">
      </a>
    </div>

  </div>
  <div class="home-image-content">
    <img class="home-image" src="assets/images/logos/logo-dalle.png" alt="shield logo">
  </div>
</section>

<section id="cards" class="card-section">
  <div class="card">
    <img class="card-image" src="assets/images/resources/dashboards.png" alt="Avatar">
    <h1 style="margin-top: 15px;">Surveillance Dashboards</h1>
    <h3>View dashboards with surveillance data for diseases of public health concern.</h3>
    <div class="card-button-box">
      <a [routerLink]="['/dashboard']">View Dashboards</a>
    </div>
  </div>

  <div class="card">
    <img class="card-image" src="assets/images/resources/education.png" alt="Avatar">
    <h1 style="margin-top: 15px;">Surveillance Resources</h1>
    <h3>Find Surveillance resources here...</h3>
    <div class="card-button-box">
      <a [routerLink]="['/resources/composites']">View Resources</a>
    </div>
  </div>

  <div class="card">
    <img class="card-image" src="assets/images/resources/upload.png" alt="Avatar">
    <h1 style="margin-top: 15px;">Upload Data</h1>
    <h3>Upload data into SHIELD</h3>
    <div class="card-button-box">
      <a [routerLink]="['/surveillance/composites']">Upload Data</a>
    </div>
  </div>
</section>
