name: Deploy SHIELD
on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    name: Deploy SHIELD
    runs-on: ubuntu-latest

    strategy:
      matrix:
        branch: [main, dev]
    steps:
      - name: Checkout Prod
        uses: actions/checkout@v3
      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT_PROD }}
          script: |
            cd /var/lib/shield_launch/dmi-shield-frontend
            docker compose -p prod --env-file environment/.env.prod down --rmi all -v
            echo "remove shareable volume..."
            docker volume rm shield_volume
            git checkout main
            git stash
            git fetch origin
            git reset --hard origin/main
            cp -rf /var/lib/shield_launch/config_files/.env.* environment/
            cp -rf /var/lib/shield_launch/config_files/config/ src/app/
            docker volume create shield_volume
            docker compose -p prod --env-file environment/.env.prod up -d
            echo "S.H.I.E.L.D Prod is now LIVE!!"

      - name: Checkout Dev
        uses: actions/checkout@v3
      - name: Deploy to Test
        if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DEV }}
          username: ${{ secrets.USERNAME_DEV }}
          key: ${{ secrets.PRIVATE_KEY_DEV }}
          port: ${{ secrets.PORT }}
          script: |
            echo "---Deploy to Test----"
            cd /etc/shield_dev_env/dmi-shield-frontend
            docker-compose -p test --env-file environment/.env.test down --rmi all -v
            echo "remove shareable volume..."
            docker volume rm shield_volume
            git checkout dev
            git stash
            git fetch origin
            git reset --hard origin/dev
            sudo cp -rf /etc/shield_dev_env/environment/.env.* environment/
            sudo cp -rf /etc/shield_dev_env/config_files/* src/app/
            echo "--------Deploying to Test--------"
            docker volume create shield_volume
            docker-compose -p test --env-file environment/.env.test up -d
            echo "S.H.I.E.L.D Test is now LIVE!!"

      - name: Checkout Dev
        uses: actions/checkout@v3
      - name: Deploy to Demo
        if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DEMO }}
          username: ${{ secrets.USERNAME_DEMO }}
          key: ${{ secrets.PRIVATE_KEY_DEMO }}
          port: ${{ secrets.PORT }}
          script: |
            echo "--------Deploy to Demo--------"
            cd /var/lib/shield_demo/dmi-shield-frontend
            docker compose -p shield_demo --env-file environment/.env.demo down --rmi all -v
            echo "remove shareable volume..."
            docker volume rm shield_volume
            git checkout dev
            git stash
            git fetch origin
            git reset --hard origin/dev
            sudo cp -rf /var/lib/shield_demo/environment/.env.demo environment/
            sudo cp -rf /var/lib/shield_demo/config_files/* src/app/
            echo "------Deploying to Demo---------"
            docker volume create shield_volume
            docker compose -p shield_demo --env-file environment/.env.demo up -d
            echo "S.H.I.E.L.D Demo is now LIVE!!"
        
